<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <title>Rockman Chronicles - 洛克人實況馬拉松</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://rockmanchronicles.github.io">
    <meta name="description" content="一群不忘童年洛克人回憶的實況主們所共同成立的活動，七月每日晚上在Rockman Chronicles一起準時收看節目！">
    <meta name="author" content="Rockman Chronicles">

    <meta property="og:title" content="Rockman Chronicles">
    <meta property="og:description" content="七月每日晚上，與實況主們一起重溫洛克人的感動！">
    <meta property="og:url" content="https://rockmanchronicles.github.io">
    <meta property="og:image" content="https://RMbg.jpg"> 
    <meta property="og:type" content="website">
    <meta name="keywords" content="Rockman, Chronicles, RockmanChronicles, Rockman Chronicles, RC, Mega Man, 實況, Twitch, 接力, Speedrun, Vtuber">


    <!-- js -->
    <script type="module" src="assets/js/main.js?v=1.0"></script>
    <!-- 引入 Vue.js -->
    <script src="assets/js/vue.global.js"></script>
    <script src="assets/js/axios.min.js"></script>
    <!-- CSS -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- tailwind -->
    <link href="assets/css/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Event",
          "name": "Rockman Chronicles 洛克人接力馬拉松",
          "startDate": "2026-07-01",
          "endDate": "2026-07-31",
          "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
          "location": {
            "@type": "VirtualLocation",
            "url": "https://www.twitch.tv/rockmanchronicles"
          },
          "image": ["https://rockmanchronicles.github.io/assets/img/RMbg.jpg"],
          "description": "一群不忘童年洛克人回憶的實況主們所共同成立的活動，七月每日晚上準時收看！",
          "organizer": {
            "@type": "Organization",
            "name": "Rockman Chronicles",
            "url": "https://rockmanchronicles.github.io"
          }
        }
    </script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-89ZL4Z6BBQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-89ZL4Z6BBQ');
</script>
</head>
<body class="text-white relative overflow-y-auto bg-gray-800">
    <div class="md:block fixed h-full w-full z-0 overflow-hidden">
        <img src="assets/img/RMbg.jpg" alt="Rockman Chronicles background image" class="object-cover h-full w-full object-center opacity-40">
    </div>
    
    <!-- 中間主體區塊，z-index 10 確保在背景圖上方 -->
    <div id="app" class="relative z-10 flex flex-col items-center justify-start w-full">
        <div class="w-full max-w-4xl py-10 md:rounded  mx-auto">
            <!-- 標題 -->
            <a href="https://www.twitch.tv/rockmanchronicles" target="_blank"><img src="assets/img/TitleRC_Black.png" alt="Rockman Chronicles Logo" class="object-cover mb-4 mx-auto"></a>
            <h1 class="text-2xl font-bold text-center mt-6 outlined-text my-6">Rockman Chronicles {{years[0]}}</h1>
            
            <div v-if="countdown !='活動開始'"  id="countdown" class="text-2xl font-bold text-center mt-6 outlined-text my-6">
                {{ countdown }}
           </div>
            <div>
                <iframe
                    class="rounded-[10px] h-[240px] sm:h-[480px] w-full"
                    src="https://player.twitch.tv/?channel=rockmanchronicles&parent=rockmanchronicles.github.io"
                    allowfullscreen>
                </iframe>
            </div>
            <!-- 年度切換按鈕區 -->
            <div class="flex justify-center my-6 gap-4 pacifico-regular">
                <button
                    v-for="year in years"
                    :key="year"
                    @click="switchYear(year)"
                    :class="[
                        'px-5 pb-1 border-2 rounded-md uppercase tracking-widest',
                        'transition-colors duration-200',
                        currentYear === year ? 'btnON' : 'btnOFF'
                    ]"
                >
                {{ year }}
                </button>
            </div>
            <!-- 資料讀取顯示Loading -->
            <div class="loading-container" v-if="RC.length == 0">
                <div class="twitch-spinner"></div>
                <div class="loading-text">資料載入中...</div>
            </div>
        
    
            <div v-else v-for="series in RC" class="w-full  px-4">
                <h2 class="text-4xl font-bold text-center mb-6 py-10 outlined-text">{{series.title}}</h2>
        
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full">
                    <div v-for="item in series.data" class="neon-card flex flex-col p-4 gap-3 transform hover:scale-105 transition duration-300 animate-slide-up">
                        
                        <!-- 日期區塊 -->
                        <div class="border-b border-gray-600 pb-2 text-sm text-gray-300 text-center font-medium">
                            <p class="font-semibold">📅{{ item.date }}</p>
                        </div>

                        <!-- 一般資訊卡 -->
                        <a  v-if="item.link != ''" :href="item.link">
                            <!-- 資訊區 -->
                            <div class="flex items-start gap-4">
                                <img v-if="item.imgURL != ''" :src="item.imgURL" class="profileImg w-16 h-16 object-cover rounded-full" :alt="getStreamerName(item.player) + '實況主頭貼'">
                                <div v-if="item.player != ''" class="flex flex-col">
                                    <h3 class="text-xl font-semibold">{{ item.game }}</h3>
                                    <p class="text-l font-semibold">{{ getStreamerName(item.player) }}</p>
                                    <p class="text-sm text-gray-400">{{ item.note }}</p>
                                </div>
                                <div v-else class="flex flex-col">
                                    <h3 class="text-xl font-semibold">{{ item.game }}</h3>
                                    <p class="text-xl font-semibold"> 暫時從缺 </p>
                                </div>
                            </div>
                        </a>
                        <!-- 多人數資訊卡 -->
                        <div v-else class="flex items-start gap-4">
                            <img v-if="item.imgURL != ''" :src="item.imgURL" class="profileImg w-16 h-16 object-cover rounded-full" alt="Twitch頭貼">
                            <div v-if="item.player != ''" class="flex flex-col">
                                <h3 class="text-xl font-semibold">{{ item.game }}</h3>
                                <p class="text-l font-semibold whitespace-pre-line" v-html="renderPlayerLinks(item.player)"></p>
                                <p class="text-sm text-gray-400">{{ item.note }}</p>
                            </div>
                            <div v-else class="flex flex-col">
                                <h3 class="text-xl font-semibold">{{ item.game }}</h3>
                                <p class="text-xl font-semibold"> 暫時從缺 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
